---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.list
    body:
      encoding: UTF-8
      string: token=<SLACK_API_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
      X-Slack-Backend:
      - z
      X-Slack-Req-Id:
      - 0fdbf2c1-6107-4b7d-aa16-8f9975b69f99
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C02AMMPTK","name":"agile-bot","is_channel":true,"created":1401370530,"creator":"U0285CSTX","is_archived":false,"is_general":false,"is_member":true,"members":["U0285CSTX","U0292M7AC","U0296GW23","U02979PQS","U029D000H","U029F1ND6","U02A9UCPP","U02AAL2Q9","U02AMNA93","U02AT4WKU","U02AX4NA6","U02B6JMJ6","U02BFFL2U","U02BFGZ3Q","U02BV13CJ","U02C0EWC8","U02E18KJ0","U02M744EK","U02M7CVET","U02M7HN1D","U02MAF9N6","U02MAMBRR","U02MYQ49Q","U03EGN1RK","U0A4R7PFH","U0BRZUT1B","U0C1GT7QR","U0F9DJDMJ","U0K3AL4QH"],"topic":{"value":"For
        testing the bot ... i.e. random spam room","creator":"U0292M7AC","last_set":1414161625},"purpose":{"value":"For
        Testing for the Agile Bot (Slackbot)","creator":"U0285CSTX","last_set":1401370531},"num_members":29},{"id":"C0UFNHRAB","name":"autograders","is_channel":true,"created":1458643381,"creator":"U0292M7AC","is_archived":false,"is_general":false,"is_member":true,"members":["U0292M7AC","U02ACB5N8","U02ANN2PL","U02AXCRN0","U02B6JMJ6","U02MAMBRR","U04ED9PB8","U0566SDLC","U0KBMPW2X","U1FASEMC0","U1J2D7W1F","U1KTUK0J3","U1LREFCR2"],"topic":{"value":"note
        that travis, github and so on send automated notifications to #autograders-notify","creator":"U0292M7AC","last_set":1458643415},"purpose":{"v[...]
- request:
    method: post
    uri: https://slack.com/api/search.all
    body:
      encoding: UTF-8
      string: query=from%3Auser+after%3A2016-07-30+before%3A2016-08-07+channel%3Awebsiteone&token=<SLACK_API_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - search:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
      X-Slack-Backend:
      - z
      X-Slack-Req-Id:
      - afb79701-d1b7-4856-9e8d-a03d50f33113
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"query":"from:user after:2016-07-30 before:2016-08-07 channel:websiteone","messages":{"total":0,"pagination":{"total_count":0,"page":1,"per_page":20,"page_count":0,"first":1,"last":0},"paging":{"count":20,"total":0,"page":1,"pages":0},"matches":[]},"files":{"total":0,"pagination":{"total_count":0,"page":1,"per_page":20,"page_count":0,"first":1,"last":0},"paging":{"count":20,"total":0,"page":1,"pages":0},"matches":[]},"posts":{"total":0,"matches":[]}}'
  recorded_at: Thu, 11 Aug 2016 00:42:54 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/search.all
    body:
      encoding: UTF-8
      string: query=from%3Auser+after%3A2016-07-30+before%3A2016-08-07+channel%3Awebsiteone&token=<SLACK_API_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - search:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
      X-Slack-Backend:
      - z
      X-Slack-Req-Id:
      - 01b90b9e-b9dd-4e66-8146-41ebeb0edec7
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"query":"from:user after:2016-07-30 before:2016-08-07 channel:websiteone","messages":{"total":0,"pagination":{"total_count":0,"page":1,"per_page":20,"page_count":0,"first":1,"last":0},"paging":{"count":20,"total":0,"page":1,"pages":0},"matches":[]},"files":{"total":0,"pagination":{"total_count":0,"page":1,"per_page":20,"page_count":0,"first":1,"last":0},"paging":{"count":20,"total":0,"page":1,"pages":0},"matches":[]},"posts":{"total":0,"matches":[]}}'
  recorded_at: Thu, 11 Aug 2016 00:45:18 GMT
recorded_with: VCR 3.0.3
