---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/channels.list
    body:
      encoding: UTF-8
      string: token=<SLACK_API_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
      X-Slack-Backend:
      - z
      X-Slack-Req-Id:
      - 895f7576-a589-4726-9b99-d220afdda860
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C02AMMPTK","name":"agile-bot","is_channel":true,"created":1401370530,"creator":"U0285CSTX","is_archived":false,"is_general":false,"is_member":true,"members":["U0285CSTX","U0292M7AC","U0296GW23","U02979PQS","U029D000H","U029F1ND6","U02A9UCPP","U02AAL2Q9","U02AMNA93","U02AT4WKU","U02AX4NA6","U02B6JMJ6","U02BFFL2U","U02BFGZ3Q","U02BV13CJ","U02C0EWC8","U02E18KJ0","U02M744EK","U02M7CVET","U02M7HN1D","U02MAF9N6","U02MAMBRR","U02MYQ49Q","U03EGN1RK","U0A4R7PFH","U0BRZUT1B","U0C1GT7QR","U0F9DJDMJ","U0K3AL4QH"],"topic":{"value":"For
        testing the bot ... i.e. random spam room","creator":"U0292M7AC","last_set":1414161625},"purpose":{"value":"For
        Testing for the Agile Bot (Slackbot)","creator":"U0285CSTX","last_set":1401370531},"num_members":29},{"id":"C0UFNHRAB","name":"autograders","is_channel":true,"created":1458643381,"creator":"U0292M7AC","is_archived":false,"is_general":false,"is_member":true,"members":["U0292M7AC","U02ACB5N8","U02ANN2PL","U02AXCRN0","U02B6JMJ6","U02MAMBRR","U04ED9PB8","U0566SDLC","U0KBMPW2X","U1FASEMC0","U1J2D7W1F","U1KTUK0J3","U1LREFCR2"],"topic":{"value":"note
        that travis, github and so on send automated notifications to #autograders-notify","creator":"U0292M7AC","last_set":1458643415},"purpose":{"v[...]
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: token=<SLACK_API_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps,admin
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - f1d85d4e-f425-44e2-af28-c2f3f808711b
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"U1E6BT6TB","team_id":"T0285CSTT","name":"2uanta","deleted":false,"status":null,"color":"9f69e7","real_name":"Quan
        Nguyen","tz":"America\/Indiana\/Indianapolis","tz_label":"Eastern Daylight
        Time","tz_offset":-14400,"profile":{"first_name":"Quan","last_name":"Nguyen","avatar_hash":"gc1defb3533e","real_name":"Quan
        Nguyen","real_name_normalized":"Quan Nguyen","email":"mr.quan.nguyen@gmail.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/c1defb3533e0f5bda305f6b20f24c2cb.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F0180%2Fimg%2Favatars%2Fava_0017-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/c1defb3533e0f5bda305f6b20f24c2cb.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0017-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/c1defb3533e0f5bda305f6b20f24c2cb.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0017-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/c1defb3533e0f5bda305f6b20f24c2cb.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0017-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/c1defb3533e0f5bda305f6b20f24c2cb.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0017-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/c1defb3533e0f5bda305f6b20f24c2cb.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0017-512.png"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"has_2fa":false},{"id":"U02VD6ZBU","team_id":"T0285CSTT","name":"3","deleted":false,"status":null,"color":"d58247","real_name":"Mclean_ryan","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"first_name":"Mclean_ryan","avatar_hash":"g520cdbd06f2","real_name":"Mclean_ryan","real_name_normalized":"Mclean_ryan","email":"mclean_ryan@gsb.stanford.edu","image_24":"https:\/\/secure.gravatar.com\/avatar\/520cdbd06f2f70e5dd8f37ac15e2c69b.jpg?s=24&d=https%3A%2F%2Fa[...]
